! font settings --------------------------------------------------------------
Xft.autohint: false
Xft.antialias: true
Xft.dpi: 96
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! rofi theme -----------------------------------------------------------------
rofi.color-enabled:    true
rofi.color-normal:     argb:00000000,  #D8DEE9 , argb:00000000,  #FAC863 ,  #000000
rofi.color-urgent:     argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #000000
rofi.color-active:     argb:00000000,  #000000 , argb:00000000,  #000000 ,  #000000
rofi.color-window:     argb:ee222222,  #FAC863 ,  #FAC863
rofi.fuzzy:            false

!!!!!!!!!
! URxvt !
!!!!!!!!!

! Fonts
URxvt.font: xft:Inconsolata:size=11,style=medium
URxvt.boldFont: xft:Inconsolata:size=11,style=bold
URxvt.italicFont: xft:Inconsolata:size=11,style=bold
URxvt.boldItalicFont: xft:Inconsolata:size=11,style=bold
URxvt.letterSpace: -1

! UI
URxvt*borderless: true
!URxvt.internalBorder: 10
URxvt*scrollBar: false
URxvt*saveLines: 1000
!URxvt*dynamicColors: true
URxvt*termName: rxvt-unicode
URxvt*fading: 10

! Colors
URxvt.depth: 32
URxvt.intensityStyles: false

! Extensions
URxvt.perl-ext: default,url-select,clipboard
URxvt.perl-ext-common: default,matcher

! URxvt.keysym.Control-Alt-C: perl:clipboard:copy
! URxvt.keysym.Control-Alt-V: perl:clipboard:paste

URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Plastic-Toys theme from xcolors.net
! from http://www.xcolors.net/dl/plastic-toys
URxvt*.foreground:   #ebebeb
URxvt*.background:   #222222
URxvt*.cursorColor:  #ebebeb
URxvt*.color0:       #222222
URxvt*.color8:       #111111
URxvt*.color1:       #eb0000
URxvt*.color9:       #ab0000
URxvt*.color2:       #aaeb00
URxvt*.color10:      #66aa00
URxvt*.color3:       #eebb00
URxvt*.color11:      #aa7700
URxvt*.color4:       #00aaeb
URxvt*.color12:      #0066aa
URxvt*.color5:       #ebaaeb
URxvt*.color13:      #aa66aa
URxvt*.color6:       #00ebeb
URxvt*.color14:      #00aaaa
URxvt*.color7:       #ebebeb
URxvt*.color15:      #fafafa
