! font settings --------------------------------------------------------------

Xft.autohint: false
Xft.antialias: true
Xft.dpi: 96
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! xscreensaver ---------------------------------------------------------------

!font settings
xscreensaver.Dialog.headingFont:        -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-fixed-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #101010
xscreensaver.Dialog.background:         #D8D8D8
xscreensaver.Dialog.topShadowColor:     #D8D8D8
xscreensaver.Dialog.bottomShadowColor:  #D8D8D8
xscreensaver.Dialog.Button.foreground:  #101010
xscreensaver.Dialog.Button.background:  #E5E5E5
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #101010
xscreensaver.Dialog.text.background:    #E5E5E5
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #101010
xscreensaver.passwd.thermometer.background:  #2E2E2E
xscreensaver.passwd.thermometer.width:       8

! rofi theme -----------------------------------------------------------------
rofi.color-enabled:    true
rofi.color-normal:     argb:00000000,  #D8DEE9 , argb:00000000,  #FAC863 ,  #000000
rofi.color-urgent:     argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #000000
rofi.color-active:     argb:00000000,  #000000 , argb:00000000,  #000000 ,  #000000
rofi.color-window:     argb:ee222222,  #FAC863 ,  #FAC863
rofi.fuzzy:            false

!!!!!!!!!
! URxvt !
!!!!!!!!!

! Fonts
URxvt.font: xft:Hack:size=11,style=medium
URxvt.boldFont: xft:Hack:size=11,style=bold
URxvt.italicFont: xft:Hack:size=11,style=bold
URxvt.boldItalicFont: xft:Hack:size=11,style=bold
URxvt.letterSpace: -1

! UI
URxvt*borderless: true
!URxvt.internalBorder: 10
URxvt*scrollBar: false
URxvt*saveLines: 1000
!URxvt*dynamicColors: true
URxvt*termName: rxvt-unicode
URxvt*fading: 10

! Colors
URxvt.depth: 32
URxvt.intensityStyles: false

! Extensions
URxvt.perl-ext: default,url-select,clipboard
URxvt.perl-ext-common: default,matcher

! URxvt.keysym.Control-Alt-C: perl:clipboard:copy
! #URxvt.keysym.Control-Alt-V: perl:clipboard:paste

URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1


! === gruvbox color scheme ===
*background: #1d2021
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

